<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/error.css}">
    <title>Error Page</title>
</head>
<body>

<div class="error-container">
    <div class="error-icon">&#9888;</div>
    <div class="error-header">Oops!</div>
    <div class="error-message" th:text="${errorMessage}">Здесь будет текст типа ошибки.</div>
    <div class="error-details" th:text="${errorDetails}">Здесь будет развернутое сообщение об ошибке.</div>
    <a href="/" class="back-home">Вернуться на главную</a>
</div>

</body>
</html>
